@use "../../styles/variables" as v;
@use "../../styles/utils" as u;
.Container {
  min-height: 100vh;
  background-color: v.$background-desktop;
}
.Content {
  padding: 50px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.Footer {
  height: 50px;
}

@media (max-width: v.$max-width) {
  .Container {
    background-color: v.$background-mobile;
  }
}
