@use "../../styles/variables" as v;

.LinkButton {
  padding: 5px;
  border-radius: 3px;
  color: v.$text-color;
  text-decoration: none;
  margin-right: 5px;
  font-size: 0.8em;
  cursor: pointer;
  svg {
    margin-right: 5px;
  }
}
.LinkButton.Link {
  background-color: #d7d7d7;
  color: black;
  svg {
    path {
      stroke: black;
    }
  }
}

.LinkButton.Github {
  background-color: #1f1f1f;
}
